<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  
</head>
        <body>
                <h1>HOME</h1>
                <ul>
                        
                        <li ><%= student.name %></li>
                        <li><%= student.email %></li>
                </ul>
            <form action='/logout' method="post">
                <button  class="btn btn-danger" type="submit">LOGOUT </button>
            </form>
        </body>
</html>
    